---
import ArrayExplanation from "../components/react/ArrayExplanation";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Visual Algorithms">
  <main>
    <ArrayExplanation client:load />
  </main>
</Layout>
