---
import ArrayExplanationPage from "../components/react/ArrayExplanationPage";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Visual Algorithms">
  <main>
    <div>
      <ArrayExplanationPage client:load />
    </div>
  </main>
</Layout>
