---
import ArrayVisualized from "../components/react/ArrayVisualized";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Visual Algorithms">
  <main>
    <ArrayVisualized client:load />
  </main>
</Layout>
