---
import ArrayExplanation from "../components/react/ArrayExplanation";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Visual Algorithms">
  <main>
    <div>
      <ArrayExplanation client:load />
    </div>
  </main>
</Layout>
