.cell {
  font-size: 42px;
  font-family: "Lexend Deca", sans-serif;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #eee;
  color: #222;
  border: 5px solid #eee;
  border-radius: 5px;
  width: fit-content;
}

.cell.selected {
  background-color: #9cec5b;
  border-color: #9cec5b;
  color: white;
}
